<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>

<!--ㅣ,
페이지 로딩 속도를 높이기 위해 css는 header에, js는 footer에 둠.
js의 용량이 너무 커 head가 다 불러지지 않으면 body부분의 실행이 늦어지기 때문.
  -->
</body>
</html>