<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--
제이쿼리, 부트스트랩 등 프론트엔드 라이브러리를 사용하는 2가지 방법
    1. 외부 CDN을 사용 - CDN을 서비스하는 곳에 문제가 생기면 덩달아 문제가 생김..
    2. 직접 라이브러리를 받아 사용하는 방법
 -->

<!--  모든 mustache파일에 부트스트랩과 제이쿼리가 필요하기 때문에, header와 footer로 미리 정의해놓음  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>yeollowSpringBootWebService</title>
</head>
<body>