{{>layout/header}}

<h1>Yeol's springBoard Web Service</h1>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}               <!-- IndexController에서 전달된 userName  -->
                Logged in as: <span id="user">{{userName}}</span>
                <!-- Spring Security에서 기본적으로 제공하는 Logout URL : /logout -->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}                   <!-- mustache에서는 해당 값이 존재하지 않는 경우에는 ^를 사용 -->
                <!-- Spring Security에서 기본적으로 제공하는 Login URL : /oauth2/authorization/... -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>

        <tbody id="tbody">
        {{#posts}}              <!-- IndexController에서 전달된 posts라는 List를 순회. (반복문) -->
            <tr>
                <!-- 중괄호 사이의 값은 변수 명. List에서 뽑아낸 객체의 field를 사용 -->
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}